## Copyright (C) 2019 - 2019 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: lkrg
Section: kernel
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 12), dkms
Homepage: https://www.whonix.org/wiki/Linux_Kernel_Runtime_Guard_LKRG
Vcs-Browser: https://github.com/Whonix/lkrg
Vcs-Git: https://github.com/Whonix/lkrg.git
Standards-Version: 4.3.0

Package: lkrg
Architecture: all
Depends: lkrg-dkms,${misc:Depends},
Description: Linux Kernel Runtime Guard (LKRG)
 Linux Kernel Runtime Integrity Checking and Exploit Detection.
 .
 LKRG provides security through diversity.
 Similar to running an uncommon operating system (kernel) would.
 .
 It renders whole classes of kernel exploits ineffective. Makes other
 exploits less reliable and more difficult to write (see features [1]
 and security [2]). LKRG was developed by a security professional with
 review from other high profile security professionals (see authorship [3]).
 .
 This is a lightweight software fork [4] of LKRG, with a focus on easy
 installation, added user documentation, and integration with Whonix [5],
 Kicksecure [6], Debian [7], and other distributions.
 The LKRG Debian Package Website can be found here. [8]
 No changes to or review of the core source code of LKRG.
 The software fork source code can be found here. [9]
 Original LKRG upstream can be found here. [10]
 .
 [1] https://www.whonix.org/wiki/Linux_Kernel_Runtime_Guard_LKRG#features
 [2] https://www.whonix.org/wiki/Linux_Kernel_Runtime_Guard_LKRG#security
 [3] https://www.whonix.org/wiki/Linux_Kernel_Runtime_Guard_LKRG#Authorship
 [4] https://en.wikipedia.org/wiki/Fork_(software_development)
 [5] https://www.whonix.org
 [6] https://www.whonix.org/wiki/Kicksecure
 [7] https://www.debian.org
 [8] https://www.whonix.org/wiki/Linux_Kernel_Runtime_Guard_LKRG
 [9] https://github.com/Whonix/lkrg
 [10] https://www.openwall.com/lkrg/
 .
 This metapackage depends lkrg-dkms.

Package: lkrg-dkms
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Linux Kernel Runtime Guard (LKRG) Source Code and DKMS
 This package ships the source code of LKRG and DKMS integration files.
 .
 See package lkrg for a more detailed description.
