## Copyright (C) 2019 - 2021 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

## https://forums.whonix.org/t/linux-kernel-runtime-guard-lkrg-linux-kernel-runtime-integrity-checking-and-exploit-detection/8477/22

[Unit]
Description=Linux Kernel Runtime Guard (LKRG)
Documentation=https://www.whonix.org/wiki/Linux_Kernel_Runtime_Guard_LKRG
DefaultDependencies=no

ConditionKernelCommandLine=!nolkrg

Requires=local-fs.target

After=local-fs.target
After=systemd-modules-load.service
After=tirdad-dkms.service

Before=sysinit.target
Before=network.target

## Load LKRG before VirtualBox kernel module load service.
## https://www.openwall.com/lists/lkrg-users/2020/01/24/2
Before=virtualbox.service

[Service]
Type=oneshot
RemainAfterExit=yes

## https://forums.whonix.org/t/linux-kernel-runtime-guard-lkrg-linux-kernel-runtime-integrity-checking-and-exploit-detection/8477/32
## https://www.openwall.com/lists/lkrg-users/2020/01/24/2
ExecStart=/usr/lib/lkrg/lkrg-loader

[Install]
WantedBy=multi-user.target
